*.DS_Store
data_chesapeakeiclr/
generate_synthetic/checkpoints/
generate_synthetic/*.txt
generate_synthetic/fid_stats
generate_synthetic/*.csv
downstream_segmentation/evaluation/
downstream_segmentation/results/
downstream_segmentation/logs/
downstream_segmentation/*.png
torchgeo/experiment_dir/